{% extends 'layout.html.twig' %}

{% block content %}
<h1>developper

	<table>
		<thead>
			<tr>
				<th colspan="2">The table header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>The table body</td>
				<td>with two columns</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tr>
			<th>Nom du projet</th>
			<th>Nombre de dev</th>
		</tr>
		<tr>
			<td>
				{{ project.name }}
			</td>
			<td>
				{{ dev.fname }}
			</td>
		</tr>
	</table>
	href="/developpersendblock %}

</p></p></p>
